@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:400,700');

:root {
    /* main colors */
    --black: #2A2F33;
    --blue: #046DD5;
    --salmon: #F4655F;
    --gray: #EDEFF0;
    /* section colors */
    --red: #E1493E;
    --green: #8ABA56;
    --purple: #5B4282;
    --orange: #FF8932;
    --sky: #19B6E9;
    --pink: #E84C8B;
    /* other colors */
    --white: #FFF;
}

.lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

html {
    background-color: var(--gray);
}

body {
    margin-top: 0;
    width: 60em;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
    display: grid;
}

header {
    background-color: var(--blue);
    color: var(--white);
    padding: 0.2em 1em 0.2em 1em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header a {
    color: var(--white);
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    text-align: center;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

nav ul li {
    padding: 1em 2.4em 1em 2.3em;
    list-style: none;
}

nav ul li:nth-child(1) {
    border-top: 5px solid var(--red);
}

nav ul li:nth-child(2) {
    border-top: 5px solid var(--green);
}

nav ul li:nth-child(3) {
    border-top: 5px solid var(--purple);
}

nav ul li:nth-child(4) {
    border-top: 5px solid var(--orange);
}

nav ul li:nth-child(5) {
    border-top: 5px solid var(--sky);
}

nav ul li:nth-child(6) {
    border-top: 5px solid var(--pink);
}

nav ul li a {
    color: black;
    text-decoration: none;
}

aside {
    background-color: var(--black);
    color: var(--white);
    padding: 1em;
    height: 100%;
}

aside h1,
aside a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: var(--white);
    font-weight: 400;
}

article {
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
}

article p {
    margin-left: 1em;
    margin-right: 1em;
}

article header {
    position: absolute;
    z-index: 999;
    background-color: transparent;
    text-shadow: #2A2F33 3px 3px;
    width: 16%;
    font-size: larger;
}

article img {
    position: relative;
    width: 100%;
}

article p {
    font-size: large;
}

article footer {
    background-color: var(--salmon);
    padding: 1em 0.5em 1em 0.5em;
    color: var(--white);
}

article span,
article a {
    color: var(--white);
}

.tags,
.date,
.comments {
    margin-right: 1em;
}

footer {
    background-color: var(--black);
    padding: 0.6em 0.5em 0.2em 1em;
    color: var(--white);
}